/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #c8c0b8;
  font-size: 1em;
  line-height: 1.4;
}

/*
         * Remove text-shadow in selection highlight:
         * https://twitter.com/miketaylr/status/12228805301
         *
         * Vendor-prefixed and regular ::selection selectors cannot be combined:
         * https://stackoverflow.com/a/16982510/7133471
         *
         * Customize the background color to match your design.
         */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
         * A better looking default horizontal rule
         */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
         * Remove the gap between audio, canvas, iframes,
         * images, videos and the bottom of their containers:
         * https://github.com/h5bp/html5-boilerplate/issues/440
         */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
         * Remove default fieldset styles.
         */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
         * Allow only vertical resizing of textareas.
         */

textarea {
  resize: vertical;
}

/* ==========================================================================
           Author's custom styles
           ========================================================================== */

/* General Styles */

html {
  font-size: 16px;
  background-color: #fffefc;
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  text-align: center;
  background-color: #111827;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #c8c0b8;
}

h2 {
  font-family: Raleway, serif;
  font-size: 3.2em;
  font-weight: 400;
}

h3 {
  font-size: 1.25em;
  font-weight: 400;
}
body,
h1,
h2,
p,
a {
  margin: 0;
  padding: 0;
}

p {
  line-height: 20px;
}

img {
  width: 100%;
}

address {
  font-style: normal;
}

.content-wrapper {
  width: 90%;
  margin: 25px auto;
}

/* -------------------- Base Header - Footer Styles -------------------- */

header,
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  padding: 16px 0;
}

header .content-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  margin: 25px auto 0 auto;
  position: relative;
  z-index: 2;
}

.header-left h1 {
  font-family: "Ariel", sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  text-transform: uppercase;
}

.header-right ul {
  margin: 1em 0 0.5em 0;
  text-align: center;
  font-size: 1.25em;
  text-transform: lowercase;
}

.header-right li {
  display: inline-block;
  margin-right: 10px;
  font-size: 16px;
}

.header-right a {
  display: inline-block;
  padding: 0.5em 0.5em;
}

header {
  padding: 16px 0;
}

footer .content-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto 25px auto;
}

.footer-left {
  font-family: "Ariel", sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  text-transform: uppercase;
}

.footer-right ul {
  margin: 1em 0 0.5em 0;
  text-align: center;
  font-size: 1.25em;
  text-transform: lowercase;
}

.footer-right li {
  display: inline;
}

.footer-right a {
  display: inline-block;
  padding: 0.5em 0.7em;
}

/* -------------------- Mobile Styles - Homepage -------------------- */

/* About */

.about .content-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

#avatar,
.container {
  width: 63%;
  margin: 0;
  max-width: 300px;
  display: flex;
  align-items: center;
  position: relative;
  height: 30vmin;
  justify-content: space-between;
}

.imageContainer {
  position: absolute;
  max-width: 500px;
}

.hide {
  visibility: hidden;
  opacity: 0;
  transition: opacity 1.5s, visibility 0.5s;
}

.visible {
  visibility: visible;
  opacity: 1;
}
.about h2 {
  padding-top: 40px;
}
.statement span {
  color: #00887a;
}
.about h2 span {
  color: #00887a;
}
.statement {
  margin: 10px auto 10px auto;
  font-size: 1.625em;
  line-height: 25px;
}
.about-me {
  font-size: 1.15em;
  line-height: 20px;
  width: 100%;
  margin: 10px auto;
}

/* Skills */

.skills h2 span {
  color: #00887a;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.card {
  flex: 1 1 calc(12% - 20px);
  max-width: calc(12% - 20px);
  background: #5a9290;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  border-radius: 5px;
  margin: 10px;
}

.cardimg {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.cardimg img {
  max-width: 80%;
  height: auto;
}

.card .caption {
  position: relative;
  text-align: center;
  font-size: 100%;
  line-height: 1.2;
  visibility: visible;
  display: block;
  color: black;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-2800px + 100%));
  }
}

/* Companies */
.companies {
  padding-top: 40px;
  background: #5a9290;
  border-radius: 40px 40px 40px 40px;
  color: black;
  font-weight: bolder;
  padding: 60px 90px;
}
.companies p {
  margin: 10px auto 10px auto;
  font-size: 1.625em;
  line-height: 25px;
  padding-left: 10px;
  padding-right: 10px;
}
.companies-container {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;
  gap: 20px;
  max-width: 100%;

  padding: 10px;
}

.company {
  margin: 20px 20px 20px 20px;
}

.companyimg {
  background-color: #5a9290;
  width: 170px;
  height: 170px;
  display: flex;
  padding-top: 0px;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
/* Projects */

.projects h2 span {
  color: #00887a;
}

.projects-wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  flex-wrap: wrap;
}

.project-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 45%;
  margin: 10px;
  padding: 20px;
  border: 0.5px solid #ddd;
  border-radius: 5px;
  background: #111827;
  transition: transform 0.3s ease;
}

.project-item:hover {
  transform: translateY(-10px);
  color: white;
  background-color: #111827;
}

.projects h3 {
  margin: 0 auto 20px auto;
}

.projects img {
  box-shadow: 4px 1px 10px 1px rgba(110, 110, 110, 0.2);
  max-width: 100%;
  height: auto;
}
.skills-tools {
  font-size: 1rem;
  margin: 10px 0;
  flex-grow: 1;
  line-height: 15px;
  text-align: left;
}
.skills-tools span {
  color: #57dbd4;
  text-decoration: underline;
}
.project-language {
  margin: 30px 0 10px 0;
}

.project-description {
  font-size: 1rem;
  margin: 10px 0;
  line-height: 15px;
  text-align: left;
}

.project-title {
  font-size: 1.5rem;
  margin: 10px 0;
}

.project-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #111827;
  color: #57dbd4;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #ddd;
  transition: color 0.3s ease;
  text-decoration: none;
  font-size: 14px;
  margin: 10px auto;
  width: fit-content;
}
.project-link:hover {
  color: white;
  background-color: #00887a;
}
/* Contact */

.contact {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 50px;
}

.contact-details {
  flex: 2;
  width: 90%;
  margin: 25px auto;
  margin-left: 50px;
}

.contact h2 {
  text-align: left;
  line-height: 97%;
  margin-bottom: 20px;
}

.contact h2 span {
  color: #00887a;
}

.contact-details .social-icon {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  font-size: 50px;
}

.contact address {
  text-align: left;
  font-size: 1.25em;
  margin-bottom: 10px;
}

.contact address a {
  text-decoration: underline;
  text-decoration-color: #00887a;
  text-underline-offset: 8px;
}
.contact-image {
  flex: 1;
  margin-left: 5px;
}
.contact-image img {
  max-width: 55%;
  height: auto;
  width: auto;
}

/* Mobile Footer */

footer .footer-left {
  display: none;
}

/* ==========================================================================Breakpoints========================================================================== */

/* -------------------- Tablet Styles - Homepage -------------------- */
@media (max-width: 400px) {
  .card .caption {
    display: none;
  }
  .header-right ul {
    white-space: nowrap;
    overflow-x: auto;
    padding-bottom: 10px;
  }

  .header-right li {
    font-size: 14px;
    margin-right: 10px;
  }

  .header-left h1,
  .header-right ul {
    font-size: 1em;
  }
  .contact {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-content: flex-end;
    margin-left: 0%;
  }
  .contact .contact-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    margin-left: 0%;
  }
  .companies p {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  footer .footer-right ul {
    white-space: nowrap;
    overflow-x: auto;
    padding-bottom: 10px;
  }

  footer .footer-right li {
    font-size: 14px;
    margin-right: 10px;
  }
}

@media (max-width: 950px) {
  /* About */
  .about .content-wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .about-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 15px;
  }

  .about .about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .about .statement {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .about h2 {
    margin-top: 40px;
  }

  .about-style,
  .avatar {
    width: 100%;
    margin: 0;
  }
}
@media (max-width: 768px) {
  .project-item {
    width: 80%;
    margin: 0 auto;
  }
  .header-right li {
    font-size: 14px;
    margin-right: 5px;
  }
  .card {
    flex: 1 1 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
  }

  .cardimg {
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  .imageContainer {
    position: absolute;
    max-width: 300px;
    padding-bottom: 20px;
    padding-top: 55px;
  }
  #avatar,
  .container {
    width: 100%;
  }

  .contact-image {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  /* General styles*/

  .content-wrapper {
    max-width: 100%;
    margin-top: 100px;
  }

  /* Header and Footer styles*/

  header .content-wrapper,
  footer .content-wrapper {
    display: flex;
    justify-content: space-between;
  }

  /* About */

  .about-style {
    width: 60%;
    margin-bottom: 30px;
  }

  .avatar {
    text-align: right;
  }

  .about .content-wrapper {
    display: flex;
    flex-wrap: nowrap;
    margin: 50px auto;
    text-align: left;
  }
  .imageContainer {
    max-width: 300px;
    position: relative;
    z-index: 1; /* Lower z-index for the image container */
  }
  .about .about-style {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .avatar img {
    width: 85%;
  }

  .about h2 {
    padding-top: 20px;
  }

  .about p {
    margin: 5px 0;
  }

  /* Skills */

  .caption {
    font-size: 1.1em;
  }

  /* Projects */

  .projects h2 {
    margin-top: 150px;
  }

  .projects .content-wrapper {
    max-width: 75%;
  }

  .project-item {
    width: 100%;
  }

  /* Contact */

  .contact {
    margin-left: 0;
  }

  .contact br {
    display: none;
  }

  /* Footer */

  footer .footer-left {
    display: contents;
  }
}
@media (max-width: 768px) {
  .projects-wrapper {
    flex-direction: column;
    align-items: center;
  }
}
/* -------------------- Desktop Styles - Homepage -------------------- */

@media only screen and (min-width: 1200px) {
  /* General styles*/

  header {
    padding: 15px 0;
  }

  .content-wrapper {
    max-width: 80%;
  }

  h2 {
    font-size: 6em;
  }

  /* Header and Footer styles */

  header li > a::after,
  footer li > a::after {
    content: "";
    display: block;
    margin: auto;
    height: 3px;
    width: 0;
    top: 5px;
    background: transparent;
    transition: all 0.3s;
  }

  header .about-link > a:hover::after,
  li > a.active-nav::after,
  footer .about-link > a:hover::after,
  li > a.active-nav::after {
    width: 100%;
    background: #00887a;
  }

  header .skills-link > a:hover::after,
  li > a.active-nav::after,
  footer .skills-link > a:hover::after,
  li > a.active-nav::after {
    width: 100%;
    background: #00887a;
  }

  header .projects-link > a:hover::after,
  li > a.active-nav::after,
  footer .projects-link > a:hover::after,
  li > a.active-nav::after {
    width: 100%;
    background: #00887a;
  }

  header .contact-link > a:hover::after,
  li > a.active-nav::after {
    width: 100%;
    background: #00887a;
  }

  /* About */

  .about-style {
    width: 100%;
    margin-bottom: 30px;
  }

  .avatar {
    text-align: right;
    margin-right: 0;
  }

  .avatar img {
    width: 70%;
  }

  .about a:hover {
    text-shadow: 5px 5px 5px rgba(56, 56, 56, 0.336);
  }

  /* Projects */

  .project-item {
    width: 25%;
  }

  .project-description {
    line-height: 20px;
  }

  .project-link {
    margin-top: 5px;
  }

  /* Contact */

  .contact address {
    font-size: 1.75em;
  }

  .contact .social-icon {
    font-size: 65px;
  }

  .fa-brands:hover {
    color: #00887a;
  }
}

/* ==========================================================================
           Helper classes
           ========================================================================== */

/*
         * Hide visually and from screen readers
         */

.hidden,
[hidden] {
  display: none !important;
}

/*
         * Hide only visually, but have it available for screen readers:
         * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
         *
         * 1. For long content, line feeds are not interpreted as spaces and small width
         *    causes content to wrap 1 word per line:
         *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
         */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
         * Extends the .sr-only class to allow the element
         * to be focusable when navigated to via the keyboard:
         * https://www.drupal.org/node/897638
         */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
   * Hide visually and from screen readers, but maintain layout
   */

.invisible {
  visibility: hidden;
}

/*
         * Clearfix: contain floats
         *
         * For modern browsers
         * 1. The space content is one way to avoid an Opera bug when the
         *    `contenteditable` attribute is included anywhere else in the document.
         *    Otherwise it causes space to appear at the top and bottom of elements
         *    that receive the `clearfix` class.
         * 2. The use of `table` rather than `block` is only necessary if using
         *    `:before` to contain the top-margins of child elements.
         */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
           EXAMPLE Media Queries for Responsive Design.
           These examples override the primary ('mobile first') styles.
           Modify as content requires.
           ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
           Print styles.
           Inlined to avoid the additional HTTP request:
           https://www.phpied.com/delay-loading-your-print-css/
           ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
           * Don't show links that are fragment identifiers,
           * or use the `javascript:` pseudo protocol
           */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
           * Printing Tables:
           * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
           */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
